<div class="form-style-5">
  <form>
    <fieldset>
      <legend>Search course</legend>

      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="sports">sports</option>
        <option value="programming">programming</option>
        <option value="cars">cars</option>
      </select>

      <label for="level">Level:</label>
      <select id="level" name="field4">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </fieldset>

    <input type="text" name="field1" placeholder="Quiz name">

    <button type="button">Search</button>
  </form>
</div>
