<div class="question-container">
<div class="badge badge-info">Question 1 of 5.</div>
<h2>1. <span class="question-text">Question 1 goes here.</span></h2>
<div class="row text-left options">
  <div class="col-md-6">
    <div class="option">
      <label for="option1">
        <input id="option1" type="checkbox" />
        Option 1
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="option">
      <label for="option2">
        <input id="option2" type="checkbox" />
        Option 2
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="option">
      <label for="option3">
        <input id="option3" type="checkbox" />
        Option 3
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="option">
      <label for="option4">
        <input id="option4" type="checkbox" />
        Option 4
      </label>
    </div>
  </div>
  <!-- Add more options here as needed -->
</div>
</div>
