<div class="form-style-5">
  <form>

    <input type="text" name="answerA" placeholder="Answer A">
    <input type="text" name="field1" placeholder="Answer B">
    <input type="text" name="field1" placeholder="Answer C">
    <input type="text" name="field1" placeholder="Answer D">

      <label for="answer">Level:</label>
      <select id="answer" name="answer">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>

    <button type="button">Add</button>
  </form>
</div>
