<div class="form-style-5">
  <legend>Pytanie: </legend>
  <form #questionForm="ngForm">
    <input type="text" id="question" name="question" placeholder="Pytanie" [(ngModel)]="question" required>
    <input type="text" name="answerA" placeholder="Odpowiedź A" [(ngModel)]="answerA" required>
    <input type="text" name="answerB" placeholder="Odpowiedź B" [(ngModel)]="answerB" required>
    <input type="text" name="answerC" placeholder="Odpowiedź C" [(ngModel)]="answerC" required>
    <input type="text" name="answerD" placeholder="Odpowiedź D" [(ngModel)]="answerD" required>

    <label for="answer">Poprawna odpowiedź:</label>
    <select id="answer" name="answer" [(ngModel)]="correctAnswer" required>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>

    <button (click)="onAddQuestion(question, answerA, answerB, answerC, answerD, correctAnswer)" type="button" [disabled]="!questionForm.valid">Dodaj</button>
    <button type="button" (click)="createQuiz()">Utwórz Quiz</button>
  </form>
</div>
