body {
  background-color: #28a745;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.quiz-finish-container {
  background-color: yellowgreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
  margin: 20px 0;
}

button {
  background-color: #218838;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1e7e34;
}

/* Modern button style */
button.custom-button {
  background-color: green;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.custom-button:hover {
  background-color: #45a049;
}
